@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

@font-face{
    font-family: "TT-Regular";
    src:  url("Fonts\OldStandardTT-Regular.ttf") ;
}
*{
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    color: #555;
}

html, body{
    margin: 0;
    padding: 0;
}

.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: .8em;
    color: #bbb;
    text-decoration: none; 
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li{
    padding: 0 5%; /* TOP/BOT = 0 and R/L = 5%*/
}

.nav a:hover{
    background-color: rgba(255, 255, 255, .3);
}

.main-header{
    background-color: rgba(0, 0, 0, .6);
    background-image: url("imagens/headerbackground6.jpg");
    background-position: center;
    background-blend-mode: multiply; 
    background-size: cover;
    padding-bottom: 160px; 
}

.band-name{
    font-weight: normal;
    text-align: center;
    font-size: 4em;
    margin: 0;
    background-color: ivory;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: thin;
    /*border-bottom-width: thin;*/
    border-top-color: coral;
    border-bottom-color: coral;
}

.band-name-large{
    font-size: 8em;
}

.content-section{
    margin: 1em;
}

.container-btns{
    display: block;
    align-items: center;
    padding-bottom: 1em;
    margin: 1em;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header .band-name-footer{
    font-family: "Oswald";
    color: #444;
    text-align: center;
    font-size: 2.5em;
}
.about-band-image{
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 10%;
}
.main-footer{
    background-color: #ff7f50 ;
}
.main-footer-container{
    display: flex;
    align-items: center;
}
.main-footer-container ul{
    flex-grow: 1;
    text-align: end;

}
.footer-nav li{
    padding: 0 .5em;
}
.footer-nam img{
    width: 30px;
    height: 30px;
}

.btn{
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}
.btn-header:hover{
    background-color: rgb(241, 241, 241);
}
.btn-header{
    margin: .5em 10% .5em 23%;
    color: #333;
    border: 2px solid rgba(255, 127, 80, 0.719);
    background-color: rgba( 255, 255, 255, 0);
    border-radius: 0;
    font-size: 1em;
    font-weight: bold;
    padding-left: 2em;
    padding-right: 2em; 
    border-radius: 10%;
}
.btn-play{
    display: inline-block;
    margin: 0;
    color: rgba(255, 127, 80, 0.664);
    font-size: 2em 3em;
    font-weight: rgba(255, 127, 80, 0.719);
    border-radius: 10%;
    padding: 0;
    width: 100px;
    height: 50px;
}
.tour-row{
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin: 1em;
}
.tour-row:last-child{
    border-bottom: none;
}
.tour-item{
    text-align: center;
    display: inline-block;
    padding-right: .5em;
}
.tour-date{
    color: #444;
    font-weight: bold;
    width: 15%;
}
.tour-city{
    width: 24%;
}
.tour.arena{    
    width: 42%;
}
.tour-btn{
    max-width: 19%;
}
.btn-primary{
    color: white;
    background-color: coral;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #444;
}
.shop-item{
    margin: 30px;
}
.shop-item-title{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #444;
    margin-bottom: 15px;
}
.shop-item-image{
    /*height: 250xp;*/
    height: 200px;
    width: 200px;
    margin: 5px;
}

.shop-item-details{
    display: flex;
    align-items: center;
    padding: 5px;
}
.shop-item-price{
    flex-grow: 1;
    color: #444
}
.shop-items{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cart-header{
    font-weight: bold;
    font-size: 1.25em;
    color: #444;
}
.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10xp;
}
.cart-row{
    display: flex;
}
.cart-item{
    width: 45%;
}
.cart-price{
    width: 20%;
    font-size: 1.2em;
    color: #333;
}
.cart-quantity{
    width: 35%;
}
.cart-item-title{
    color: #444;
    margin-left: .5em;
    font-size: 1.2em;
}
.cart-item-image{
    width: 75xp;
    height: auto;
    border-radius: 10xp;
}
.btn-danger{
    color:white;
    background-color: tomato;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #444;
}
.cart-quantity-input{
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid rgb(209, 83, 66);
    background-color: #eee;
    color: #444;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}
.cart-row:last-child{
    border-bottom: 1px solid black;
}
.cart-row:last-child .cart-column{
    border: none;
}
.cart-total{
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}
.cart-total-title{
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}
.cart-total-price{
    color: #444;
    font-size:  1.1em;
}
.btn-purchase{
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
